{% extends "gaitlab/base.html" %}
{% load static %}
{% block content %}

  <div class="section" style="padding-top: 5rem; padding-bottom: 1rem;">
    <div class="container">
      <h2>Your video</h2>
      <div class="video-container" style="margin-bottom: 2em">
	<video controls style="width: 100%">
	  <source src="{{ video.file.url }}" type="video/mp4">
	    Your browser does not support the video tag.
	</video>
      </div>
      <strong>Permanent URL to your results: </strong>
      <input type="text"
	     style="width: 50%; "
	     readonly value="{% if request.is_secure %}https{% else %}http{% endif %}://gaitlab.stanford.edu{{ request.path }}" />
    </div>
  </div>


  <div class="section categories" id="analyze" style="padding: 2rem 0;">
    <div class="container">
      <h3 class="section-heading">
	{% if annotation.status == "processing" or annotation.status == "submitted" %}
	The video is still processing, please visit this site later.
	{% elif annotation.status == "error" %}
	Processing finished with an error, we are investigating it.
	{% else %}
	Predictions from the neural network
	{% endif %}
      </h3>
      {% if annotation.status == "done" %}
      <div style="text-align: center">
      <table style="margin-left:auto; margin-right:auto;">
	{% for key, value in results.items %}
	<tr>
	  <th style="text-align: right;">{{ key }}</th><td>{{ value }}</td>
	</tr>
	{% endfor %}
      </table>
      </div>
      {% endif %}
    </div>
  </div>


  {% if annotation.status == "done" %}
  <div class="section" style="padding-top: 5rem; padding-bottom: 1rem;">
    <div class="container">
      <h2>Processed video</h2>
      <div class="video-container" style="margin-bottom: 2em">
	<video controls style="width: 100%">
	  <source src="{{ annotation.file.url }}" type="video/mp4">
	    Your browser does not support the video tag.
	</video>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="section categories" style="padding-top: 3rem; padding-bottom: 0rem;">
  </div>


  <div class="section get-help" id="license" style="text-align: left;">
    <div class="container" style="text-align: center;">
      <a href="/">Return to the main page</a>
    </div>
  </div>

{% endblock %}
