{% extends "gaitlab/base.html" %}
{% load static %}
{% block content %}
  <!-- Primary Page Layout
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Try the latest video-analysis technology to analyze your gait</h4>
          <a class="button button-primary" href="#analyze">Analyze your gait at home</a>
	  <a class="button" href="http://gaitlab.stanford.edu/analysis/d8oXa2VB/">Check out example analysis</a>
	  <p class="logos" style="padding: 1em;">
	    <a target="_blank" href="https://stanford.edu/"><img src="{% static "images/stanford.png" %}"></a>
	    <a target="_blank" href="https://www.gillettechildrens.org/"><img src="{% static "images/gillette.png" %}"></a>
	  </p>

        </div>
        <div class="one-half column phones">
	  <div class="phone" style="width: 300px; height: 615px; position: relative;">
            <div style="background-image: url('{% static "images/iphone.png" %}'); width: 100%; height: 100%; background-size: 100% 100%;"></div>
	    <div style="background-image: url('{% static "images/demo.gif" %}'); top: 11.8%; left: 6%; width: 88%; height: 76.5%; background-size: 100% 100%; position: absolute"></div>  
            <!--img class="phone" src="{% static "images/iphone.png" %}"-->
	  </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section categories" id="analyze">
    <div class="container">
      <h3 class="section-heading">Ask someone to record a video of you walking</h3>
      <a href="#instructions">For best results see instructions</a>
      <p class="section-description">
      <form method="POST" action="/" id="videoForm" name="videoForm" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
      </p>
      <div><input type="submit" value="Process my video" style="background: #ffffff;" /></div>
      </form>
      <!--img class="u-max-full-width" src="{% static "images/placeholder.png" %}"-->
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <h3 class="section-heading">Our research</h3>
      <div class="video-container" style="margin-bottom: 2em">
	<iframe src="https://www.youtube.com/embed/pb4WvAhsRe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<img class="u-max-full-width" src="{% static "images/placeholder.png" %}">
      </div>

      <p style="font-size: 1.5em; margin-bottom: 0.2em;">Łukasz Kidziński*, Bryan Yang*, Jennifer Hicks, Apoorva Rajagopal, Scott Delp, Michael Schwartz, "Deep neural networks enable quantitative movement analysis using single-camera videos", Nature Communications (2020)
	<div style="font-size: 0.9em; text-align: right;">* These authors contributed equally to this work</div>
      </p>
      <p class="logos">
	<a target="_blank" href="https://stanford.edu/"><img src="{% static "images/stanford.png" %}"></a>
	<a target="_blank" href="https://www.gillettechildrens.org/"><img src="{% static "images/gillette.png" %}"></a>
	<a target="_blank" href="https://twin-cities.umn.edu/"><img src="{% static "images/uminn.png" %}"></a>
	<a target="_blank" href="https://www.nature.com/ncomms/"><img src="{% static "images/nature-comm.png" %}"></a>
      </p>
      <p>
	Our research was supported by the <a target="_blank" href="http://mobilize.stanford.edu/">Mobilize Center</a>, a National Institutes of Health Big Data to Knowledge (BD2K) Center of Excellence through Grant U54EB020405, and <a target="_blank" href="http://restore.stanford.edu/">RESTORE Center</a>, a National Institutes of Health Center through Grant P2CHD10191301.
      </p>
    </div>
  </div>

  <div class="section categories" style="padding-top: 3rem; font-size: 1.2em; padding-bottom: 0rem;" id="instructions">
    <div class="container" style="text-align: left">
      <h3 class="section-heading" style="text-align: center">Instructions for Best Results</h3>
      <strong>Finding  the right spot</strong>
      <ul>
<li>Find an uncluttered place (e.g. no shoes on the ground, pizza boxes, furniture, etc...)</li>
<li>Make sure there is a relatively flat path, approximately 10m / 30ft long</li>
<li>Make sure feet are visible (i.e. no tall grass)</li>
<li>Look for an area with even lighting. Avoid strong backlight</li>
<li>Look for an area with minimal background distractions (uniform or distant background)</li>
</ul>

      <strong>Setting up to capture the video</strong>
      <ul>
<li>Hold camera vertically (portrait mode)</li>
<!--li>Use a standard camera lens (not wide angle or telephoto) between 24mm-50mm full-frame equivalent. Note: iPhone = 26mm, Pixel = 28mm</li-->
<li>Hold the camera about 1.5m / 5ft off the ground</li>
<li>Stand approximately 3-4m / 10-13ft from subject - note subject should take up about 2/3 of the frame</li>
<li>As subject walks, rotate camera about vertical axis to keep subject centered in frame</li>
<li>For best results the subject should be wearing shorts or form-fitting pants (e.g. yoga pants, running tights, etc...) and a short-sleeved or sleeveless top</li>
</ul>
      <strong>Capturing the video</strong>
      <ul>
<li>Ask the subject to walk in their comfortable/usual manner</li>
<li>Ask the subject to proceed back and forth four times (two laps)</li>
<li>Start capturing video AFTER subject begins walking</li>
<li>Stop capturing video BEFORE subject stops walking</li>
<li>Alternatively, edit your video so that it starts and stops with the subject walking</li>
      </ul>
      <p></p>
    </div>
  </div>


  <div class="section get-help" id="license" style="text-align: left;">
    <div class="container">
      <h3 class="section-heading" style="text-align: center">Terms of use</h3>
      <p>
<ol>
  <li> The Board of Trustees of the Leland Stanford Junior University ("Stanford") provides Web Gait Analysis software and code ("Service") free of charge for non-commercial use only. Use of the Service by any commercial entity for any purpose, including research, is prohibited.</li>
  <li> By using the Service, you agree to be bound by the terms of this Agreement. Please read it carefully.</li>
  <li>You acknowledge that content submitted to this website is stored on Amazon AWS Cloud servers and that it'll be available under a <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.</li>
  <li>Videos submitted to the website are stored within AWS cloud under randomly generated URLs. Videos are periodically deleted, but we make no guarantees about external access by third parties. Content submitted to this website should be considered as publicly available.</li>
  <li>This software is a demonstration of a research result and can't be used for diagnostics or any other clinical purposes. Contact your doctor for a clinically relevant assessment of gait.</li>
  <li>This deployment is maintained by Neuromuscular Biomechanics Lab at Stanford. For questions and inquiries contact Łukasz Kidziński (lukasz.kidzinski AT stanford.edu).
  <li> You agree not to use the Service for commercial advantage, or in the course of for-profit activities. You agree not to use the Service on behalf of any organization that is not a non-profit organization. Commercial entities wishing to use this Service should contact Stanford University's Office of Technology Licensing.</li>
  <li> THE SERVICE IS OFFERED "AS IS", AND, TO THE EXTENT PERMITTED BY LAW, STANFORD MAKES NO REPRESENTATIONS AND EXTENDS NO WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. STANFORD SHALL NOT BE LIABLE FOR ANY CLAIMS OR DAMAGES WITH RESPECT TO ANY LOSS OR OTHER CLAIM BY YOU OR ANY THIRD PARTY ON ACCOUNT OF, OR ARISING FROM THE USE OF THE SERVICE. YOU HEREBY AGREE TO DEFEND AND INDEMNIFY STANFORD, ITS TRUSTEES, EMPLOYEES, OFFICERS, STUDENTS, AGENTS, FACULTY, REPRESENTATIVES, AND VOLUNTEERS ("STANFORD INDEMNITEES") FROM ANY LOSS OR CLAIM ASSERTED AGAINST STANFORD INDEMNITEES ARISING FROM YOUR USE OF THE SERVICE.</li>
  <li> All rights not expressly granted to you in this Agreement are reserved and retained by Stanford or its licensors or content providers. This Agreement provides no license under any patent.</li>
  <li> You agree that this Agreement and any dispute arising under it is governed by the laws of the State of California, United States of America, applicable to agreements negotiated, executed, and performed within California.</li>
  <li> Subject to your compliance with the terms and conditions set forth in this Agreement, Stanford grants you a revocable, non-exclusive, non-transferable right to access and make use of the Service.</li>
</ol>
</p>
    </div>
  </div>
{% endblock %}
